In [1]:
#!pip install pymongo
#!pip install dnspython

In [1]:
from pymongo import MongoClient
import pandas as pd
from pprint import pprint

In [2]:
password = "MonashBootcamp"
dbname = "Soccer_db"
client = MongoClient(f"mongodb+srv://Quentin:{password}@cluster0.ddqv6.mongodb.net/{dbname}?retryWrites=true&w=majority")

In [3]:
soccer_db = client.get_database('Soccer_db')

In [4]:
#load and pass the datafram into a list of dict
leagues_df = pd.read_csv("../cleaned_final/leagues.csv")
del leagues_df["Unnamed: 0"]
leagues_dict = leagues_df.to_dict('records')
leagues_df.head(1)

,Ranking,Year,Teams,Points,Goals+,Goals-,avg age,avg heights (cm),avg weight (kg),avg player rating,...,avg player wage,Shots pg,Yellowcard,RedCard,Possession%,Pass%,AerialsWon,Country,Transfer Spend (Euros),MA
0,20,2020,Osasuna,11.0,10.0,18.0,0.0,0.0,0.0,71.666667,...,0.0,9.6,27,1,42.5,68.1,30.3,Spain,0.0,0.0

In [5]:
#drop if exist, create and insert dict into mongodb
soccer_db.team_stats.drop()
soccer_db.create_collection("team_stats")
team_stats = soccer_db.team_stats
team_stats.insert_many(leagues_dict)
team_stats.count_documents({})

420

In [6]:
corr_df = pd.read_csv("../cleaned_final/correlation.csv")
corr_dict = corr_df.to_dict('list')
corr_df.head(1)

,Ranking,Year,Points,Goals+,Goals-,avg age,avg heights (cm),avg weight (kg),avg player rating,avg player value (EU),avg player wage,Shots pg,Yellowcard,RedCard,Possession%,Pass%,AerialsWon,Transfer Spend (Euros),MA
0,1.0,0.0,-0.739609,-0.552386,0.401605,0.01091,0.000543,0.001615,-0.668187,-0.492911,-0.451074,-0.650456,0.070936,0.197092,-0.676484,-0.566537,0.235588,-0.46657,-0.597327

In [7]:
soccer_db.correlation.drop()
soccer_db.create_collection("correlation")
corr_col = soccer_db.correlation
corr_col.insert_many([corr_dict])
corr_col.count_documents({})

1

In [7]:
#test
# def correlationData():
#     #create connection
#     import simplejson
#     client = MongoClient(f"mongodb+srv://Quentin:{password}@cluster0.ddqv6.mongodb.net/{dbname}?retryWrites=true&w=majority")
#     soccer_db = client.get_database('Soccer_db')
#     team_stats_col = soccer_db.team_stats.find({},{'_id': False})
#     data_scatter = []
#     for doc in team_stats_col:
#         data_scatter.append(simplejson.dumps(doc, ignore_nan=True))
#     client.close()
#     return data_scatter
# data = correlationData()

('{"Ranking": 11, "Year": 2014, "Teams": "West Ham United", "Points": 47.0, '
 '"Goals+": 48.0, "Goals-": 50.0, "avg age": 24.66, "avg heights (cm)": 183.0, '
 '"avg weight (kg)": 75.97, "avg player rating": 69.09, "avg player value '
 '(EU)": 0.0, "avg player wage": 0.0, "Shots pg": 12.7, "Yellowcard": 66, '
 '"RedCard": 2, "Possession%": 53.6, "Pass%": 82.5, "AerialsWon": 15.3, '
 '"Country": "England", "Transfer Spend (Euros)": 31.64, "MA": 24.92}')