In [28]:
from selenium import webdriver
import time
from collections import defaultdict

def scrape():
    driver = webdriver.Chrome('/usr/local/bin/chromedriver')
    
    url_eng = "https://www.flashscore.com.au/football/england/epl/standings/"
    url_es = "https://www.flashscore.com.au/football/spain/laliga/standings/"
    url_it = "https://www.flashscore.com.au/football/italy/serie-a/standings/"
    urls = [url_eng,url_es,url_it]

    driver.get(url_eng)
    time.sleep(1)
    table = defaultdict(list)
    for url in urls:
        driver.get(url)
        time.sleep(1)
        col1 = driver.find_elements_by_xpath('//a[@class="rowCellParticipantName___38vskiN"]')
        col2 = driver.find_elements_by_xpath('//span[@class="  rowCell____vgDgoa cell___4WLG6Yd "]')
        
        for i in range(len(col1)):
            table["Ranking"].append(i+1)
            table["Team"].append(col1[i].text)
            if url == url_eng:
                table["League"].append('England')
            if url == url_es:
                table["League"].append('Spain')
            if url == url_it:
                table["League"].append('Italy')
        count = 0
        for i in range(len(col2)):
            if count == 0 :
                table["MP"].append(col2[i].text)
            if count == 1:
                table["W"].append(col2[i].text)
            if count == 2:
                table["D"].append(col2[i].text)
            if count == 3:
                table["L"].append(col2[i].text)
            if count == 4:
                table["Pts"].append(col2[i].text)
                count = -1
            count+=1
    table = dict(table)
    
    # Return results
    return table

In [31]:
tablep = scrape()

In [33]:
import pandas as pd
pd.DataFrame(tablep)

    Ranking             Team   League  MP   W  D   L Pts
0         1        Liverpool  England  17   9  6   2  33
1         2   Manchester Utd  England  16  10  3   3  33
2         3        Leicester  England  17  10  2   5  32
3         4        Tottenham  England  16   8  5   3  29
4         5  Manchester City  England  15   8  5   2  29
5         6      Southampton  England  17   8  5   4  29
6         7          Everton  England  16   9  2   5  29
7         8      Aston Villa  England  15   8  2   5  26
8         9          Chelsea  England  17   7  5   5  26
9        10         West Ham  England  17   7  5   5  26
10       11          Arsenal  England  17   7  2   8  23
11       12            Leeds  England  17   7  2   8  23
12       13           Wolves  England  17   6  4   7  22
13       14   Crystal Palace  England  17   6  4   7  22
14       15        Newcastle  England  16   5  4   7  19
15       16          Burnley  England  15   4  4   7  16
16       17         Brighton  England  17   2  8   7  14
17       18           Fulham  England  15   2  5   8  11
18       19        West Brom  England  17   1  5  11   8
19       20    Sheffield Utd  England  17   0  2  15   2
20        1      Atl. Madrid    Spain  15  12  2   1  38
21        2      Real Madrid    Spain  17  11  3   3  36
22        3       Villarreal    Spain  18   8  8   2  32
23        4        Barcelona    Spain  17   9  4   4  31
24        5    Real Sociedad    Spain  18   8  6   4  30
25        6          Sevilla    Spain  15   8  3   4  27
26        7          Granada    Spain  16   7  3   6  24
27        8       Celta Vigo    Spain  18   6  5   7  23
28        9      Ath. Bilbao    Spain  18   6  3   9  21
29       10            Cadiz    Spain  17   5  5   7  20
30       11            Betis    Spain  17   6  2   9  20
31       12            Eibar    Spain  17   4  7   6  19
32       13          Levante    Spain  16   4  6   6  18
33       14           Alaves    Spain  17   4  6   7  18
34       15       Valladolid    Spain  17   4  6   7  18
35       16           Getafe    Spain  16   4  5   7  17
36       17         Valencia    Spain  17   3  7   7  16
37       18            Elche    Spain  15   3  7   5  16
38       19          Osasuna    Spain  16   3  5   8  14
39       20           Huesca    Spain  17   1  9   7  12
40        1         AC Milan    Italy  16  11  4   1  37
41        2            Inter    Italy  16  11  3   2  36
42        3          AS Roma    Italy  16  10  3   3  33
43        4         Juventus    Italy  15   8  6   1  30
44        5         Sassuolo    Italy  16   8  5   3  29
45        6           Napoli    Italy  15   9  1   5  28
46        7         Atalanta    Italy  15   8  4   3  28
47        8            Lazio    Italy  16   7  4   5  25
48        9           Verona    Italy  16   6  6   4  24
49       10        Benevento    Italy  16   6  3   7  21
50       11        Sampdoria    Italy  16   6  2   8  20
51       12          Bologna    Italy  16   4  5   7  17
52       13          Udinese    Italy  15   4  4   7  16
53       14       Fiorentina    Italy  16   3  6   7  15
54       15         Cagliari    Italy  16   3  5   8  14
55       16           Spezia    Italy  16   3  5   8  14
56       17           Torino    Italy  16   2  6   8  12
57       18            Parma    Italy  16   2  6   8  12
58       19            Genoa    Italy  16   2  5   9  11
59       20          Crotone    Italy  16   2  3  11   9