In [1]:
#Import the modules
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)
# file paths to files
#players
path_2015 = "../raw/players_15.csv"
path_2016 = "../raw/players_16.csv"
path_2017 = "../raw/players_17.csv"
path_2018 = "../raw/players_18.csv"
path_2019 = "../raw/players_19.csv"
path_2020 = "../raw/players_20.csv"
paths = [path_2015, path_2016,path_2017,path_2018,path_2019,path_2020]

#cleaned
path_eng = "../cleaned/engranking.csv"
path_it = "../cleaned/itranking.csv"
path_spain = "../cleaned/spainranking.csv"
pathss = [path_eng,path_it,path_spain]
#read data
dfs = []
for path in pathss:
    df = pd.read_csv(path)
    dfs.append(df.sort_values(by=["Year","Points"], ascending = False))

In [2]:
eng_df = dfs[0].sort_values(by=["Year","Points"], ascending=False).rename(columns={"Unnamed: 0": "Ranking"})
it_df = dfs[1].sort_values(by=["Year","Points"], ascending=False).rename(columns={"Unnamed: 0": "Ranking"})
spain_df = dfs[2].sort_values(by=["Year","Points"], ascending=False).rename(columns={"Unnamed: 0": "Ranking"})
eng_df

,Ranking,Year,Teams,Points,Goals+,Goals-,avg age,avg heights (cm),avg weight (kg),avg player rating,avg player value (EU),avg player wage
100,100,2019,Liverpool,99,85,33,24.48,181.21,73.39,75.85,21008030,80818
116,116,2019,Manchester City,81,102,35,24.33,179.82,72.97,77.00,25628636,120727
109,109,2019,Manchester United,66,66,36,24.82,183.55,74.97,76.85,15202272,87091
118,118,2019,Chelsea,66,69,54,24.76,183.18,79.00,77.06,15302121,85030
107,107,2019,Leicester City,62,67,41,25.52,181.42,76.88,74.36,8232575,53000
...,...,...,...,...,...,...,...,...,...,...,...,...
10,10,2014,Aston Villa,38,18,25,24.41,182.47,76.03,69.47,0,0
17,17,2014,Sunderland,38,16,27,23.85,182.33,76.00,68.03,0,0
16,16,2014,Hull City,35,19,24,25.39,182.15,77.18,68.91,0,0
9,9,2014,Burnley,33,14,21,24.79,182.06,76.48,65.85,0,0
3,3,2014,Queens Park Rangers,30,23,24,25.85,183.12,77.85,69.85,0,0

In [3]:
print(np.arange(len(eng_df)+1))

[  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118 119 120]

In [4]:
def ranking(df):
    rank = 0
    for i in np.arange(len(df)):
        rank +=1
        if i < len(df)-1:
            if df["Points"].iloc[i] >= df["Points"].iloc[i+1]:
                df["Ranking"].iloc[i] = rank
            elif df["Points"].iloc[i] < df["Points"].iloc[i+1]:
                df["Ranking"].iloc[i] = 20
                rank = 0
    return df

In [5]:
eng_df = ranking(eng_df)
it_df = ranking(it_df)
spain_df = ranking(spain_df)

In [6]:
it_df["Ranking"][-1:]= 20
eng_df["Ranking"][-1:]= 20
spain_df["Ranking"][-1:]= 20

In [7]:
spain_df.to_csv("../cleaned/Liga.csv", index=False)
it_df.to_csv("../cleaned/SerieA.csv",index=False)
eng_df.to_csv("../cleaned/EPL.csv",index=False)