In [1]:
import pandas as pd
import gmaps
import matplotlib.pyplot as plt
import json
import geojson
import requests
from weather_and_mongo import (weather_key, password)
import statistics
import warnings
from pymongo import MongoClient
import pandas as pd
from pprint import pprint
warnings.filterwarnings("ignore")

In [2]:
password

'MonashBootcamp'

In [3]:
weather_key

'3086b2df82f0406b362ddd9fc4acb7dd'

In [4]:
#importing rankings data 
engrank_df = pd.read_csv("../team_player/cleaned/engranking.csv")
itrank_df = pd.read_csv("../team_player/cleaned/itranking.csv")
sprank_df = pd.read_csv("../team_player/cleaned/spainranking.csv")

In [5]:
#engrank_df.head()

In [6]:
#getting the top 4 teams for each of the leagues for these years:
years = [2015, 2016, 2017, 2018, 2019]

#in each of this lists, each index is a dataframe with the top 4 teams in each season
eng_top4teams = []
it_top4teams = []
sp_top4teams = []

#in each of this lists, each index is a dataframe with the last 4 teams in each season
eng_last4teams = []
it_last4teams = []
sp_last4teams = []

#in each of this lists, each index is a dataframe with all teams in each season
eng_teams = []
it_teams = []
sp_teams = []


for year in years:
    
    #all teams
    #eng_teams.append(engrank_df.loc[engrank_df["Year"]==year][['Year','Teams','Points']].sort_values('Points', ascending = False).reset_index(drop = True))
    #it_teams.append(itrank_df.loc[itrank_df["Year"]==year][['Year','Teams','Points']].sort_values('Points', ascending = False).reset_index(drop = True))
    #sp_teams.append(sprank_df.loc[sprank_df["Year"]==year][['Year','Teams','Points']].sort_values('Points', ascending = False).reset_index(drop = True))
    
    #top teams
    eng_top4teams.append(engrank_df.loc[engrank_df["Year"]==year][['Year','Teams','Points']].sort_values('Points', ascending = False).reset_index(drop = True).iloc[:4])
    it_top4teams.append(itrank_df.loc[itrank_df["Year"]==year][['Year','Teams','Points']].sort_values('Points', ascending = False).reset_index(drop = True).iloc[:4])
    sp_top4teams.append(sprank_df.loc[sprank_df["Year"]==year][['Year','Teams','Points']].sort_values('Points', ascending = False).reset_index(drop = True).iloc[:4])
    
    #last 4 teams
    eng_last4teams.append(engrank_df.loc[engrank_df["Year"]==year][['Year','Teams','Points']].sort_values('Points', ascending = False).reset_index(drop = True).iloc[-5:-1])
    it_last4teams.append(itrank_df.loc[itrank_df["Year"]==year][['Year','Teams','Points']].sort_values('Points', ascending = False).reset_index(drop = True).iloc[-5:-1])
    sp_last4teams.append(sprank_df.loc[sprank_df["Year"]==year][['Year','Teams','Points']].sort_values('Points', ascending = False).reset_index(drop = True).iloc[-5:-1])

In [7]:
#eng_top4teams

In [8]:
'''
Accessing all players data files
Each index in places [0:4] is a dataframe with the players data for 2015, 2016, 2017, 2018, 2019

'''

numbers = [15,16,17,18, 19]
players = []

for number in numbers:
    players.append(pd.read_csv(f"../team_player/raw/players_{number}.csv"))

In [9]:
#chanche names function so that I can match the team names from rankins.csv with players csv

def names_change(df):
    
    #italian league
    df["club"] = df["club"].str.replace("Lazio", "SS Lazio")
    df["club"] = df["club"].str.replace("Roma", "AS Roma")
    df['club'] = df['club'].str.replace("Inter", "FC Internazionale Milano")
    df["club"] = df["club"].str.replace("FC Crotone", "Crotone")
    
    df["club"] = df["club"].str.replace("Fiorentina", "ACF Fiorentina")
    df["club"] = df["club"].str.replace("Sassuolo", "Sassuolo Calcio")
    df["club"] = df["club"].str.replace("Chievo Verona", "AC Chievo Verona")
    df["club"] = df["club"].str.replace("Cagliari", "Cagliari Calcio")
    
    #spanish league
    df["club"] = df["club"].str.replace("Real Sporting de Gijón", "Sporting Gijón")
    df["club"] = df["club"].str.replace("Athletic Club de Bilbao", "Athletic Club Bilbao")
    df["club"] = df["club"].str.replace("Deportivo de La Coruña", "RCD La Coruña")
    df["club"] = df["club"].str.replace("RC Celta", "RC Celta Vigo")
    
    return df

#apply function to all players dataframes
for players_df in players:
    names_change(players_df)

In [10]:
#function for getting nationatilities per season

def get_nationalities(league_topteams, players):
    
    '''
    This function takes two list of dataframes. Each index of the list is a dataframe for 1 season for 5 seasons
    
        index 0 = 2015
        .
        .
        index 4 = 2019
    
    and returns a list of dataframes with the players names, ages, nationalities and teams for each season
    
    '''
    
    #empty list: preparing to append a dataframe for each season
    all_seasons_data =[]
    
    #iterating through both dataframes at once: each iteration is a season
    for topteams, season_players in zip(league_topteams, players):
    
        nationalities_1_season = []
        for index, row in topteams.iterrows():
            team = row['Teams']
        
            #getting relevant player data for 1/4 teams: each iteration is 1 team for that season
            nationalities_1_team = season_players[season_players['club']== team][['short_name','age', 'nationality','club']].reset_index()
            nationalities_1_season.append(nationalities_1_team)
            
        #packing all 1 season teams player data into 1 dataframe and appending to all_seasons
        new_df = pd.concat(nationalities_1_season)
        
        all_seasons_data.append(new_df.drop('index', axis = 1))
        
    return all_seasons_data

In [11]:
'''
Each of league_nationalities_top_teams is a list of dataframes with players and nationalities for each of the top4  teams
and each index represents a differents season

'''
#top teams
engleague_nationalities_top_teams = get_nationalities(eng_top4teams, players)
itleague_nationalities_top_teams = get_nationalities(it_top4teams, players)
spleague_nationalities_top_teams = get_nationalities(sp_top4teams, players)

#last teams
engleague_nationalities_last_teams = get_nationalities(eng_last4teams, players)
itleague_nationalities_last_teams = get_nationalities(it_last4teams, players)
spleague_nationalities_last_teams = get_nationalities(sp_last4teams, players)

In [12]:
#engleague_nationalities_all_teams = get_nationalities(eng_teams, players)
#itleague_nationalities_all_teams = get_nationalities(it_teams, players)
#spleague_nationalities_all_teams = get_nationalities(sp_teams, players)

In [13]:
#engleague_nationalities_top_teams[1]

## This section is an analysis on nationalities  at a league level: combining data for the top 4 teams in each season across 2015 - 2019 for each league

#### NEW PROPORTIONS CALCULATIONS FOR PROJECT 2

In [14]:
#Re arraging function definition 
def league_nationality_proportions(league_nationalities_top_teams):
    
    '''
    This function takes a list of dataframes for a league of choice, and the local nationality for that league as a string. 
    Each index for the first parameter is a different season, and the data corresponds to the top 4 teams in each season. 
    It concats all dataframes into one single dataframe and returns a nationality count for that leagues top teams accross 
    2015-2019 normalised based on local_nationality.
    
    '''
    #concatinating all list indexes in to dataframe: 2015 - 2019 all in one dataframe and dropping duplicate names
    all_seasons = pd.concat(league_nationalities_top_teams).drop_duplicates(subset = 'short_name')
    
    new_all_seasons = all_seasons[['nationality']].value_counts()
    proportions = pd.DataFrame((new_all_seasons / new_all_seasons.sum())*100).reset_index()
    proportions = proportions.rename({0: "percentage"}, axis = 1)
    proportions = proportions.sort_values('percentage', ascending = False)
    
    return proportions

In [15]:
#top
top4engleague_all_seasons_nationalities = league_nationality_proportions(engleague_nationalities_top_teams)
top4itleague_all_seasons_nationalities = league_nationality_proportions(itleague_nationalities_top_teams)
top4spleague_all_seasons_nationalities = league_nationality_proportions(spleague_nationalities_top_teams)

#last
last4engleague_all_seasons_nationalities = league_nationality_proportions(engleague_nationalities_last_teams)
last4itleague_all_seasons_nationalities = league_nationality_proportions(itleague_nationalities_last_teams)
last4spleague_all_seasons_nationalities = league_nationality_proportions(spleague_nationalities_last_teams)

In [16]:
#top4engleague_all_seasons_nationalities.head()

In [17]:
#last4engleague_all_seasons_nationalities.head()

In [18]:
#creating exports for the top teams
#engleague_all_seasons_nationalities.to_csv("nationalities_data/english_nationalities_all_seasons.csv", index = False)
#itleague_all_seasons_nationalities.to_csv("nationalities_data/italy_nationalities_all_seasons.csv", index = False)
#spleague_all_seasons_nationalities.to_csv("nationalities_data/spain_nationalities_all_seasons.csv", index = False)

In [19]:
#loading json with countries and their capital cities 
with open('country_by_capital.json' , 'r') as jsonfile:
    data = jsonfile.read()
country_capitals = json.loads(data)
#print(json.dumps(country_capitals, indent = 4, sort_keys = True))

#creating a dataframe for countries and nationalities
countries = []
cities = []

for i in range(len(country_capitals)):
    
    #getting inside each dictionary
    for key, value in country_capitals[i].items():
        
        if key == 'country':
            countries.append(value)
        
        if key == "city":
            cities.append(value)
        
countries_and_capitals_df = pd.DataFrame({
    'nationality': countries,
    'capital':cities
})

countries_and_capitals_df['capital'] = countries_and_capitals_df['capital'].replace('Bruxelles [Brussel]', 'Brussel')
countries_and_capitals_df['capital'] = countries_and_capitals_df['capital'].replace('San Jos', 'San Jose')
countries_and_capitals_df['capital'] = countries_and_capitals_df['capital'].replace('Santaf', 'Bogota')
countries_and_capitals_df['capital'] = countries_and_capitals_df['capital'].replace('Bucuresti', 'Bucharest')
countries_and_capitals_df['capital'] = countries_and_capitals_df['capital'].replace('Yaound', 'Yaounde')
countries_and_capitals_df['capital'] = countries_and_capitals_df['capital'].replace('Athenai', 'Athens')
countries_and_capitals_df['capital'] = countries_and_capitals_df['capital'].replace('Asunci', 'Asuncion')
countries_and_capitals_df['capital'] = countries_and_capitals_df['capital'].replace('Helsinki [Helsingfors]', 'Helsinki')
countries_and_capitals_df['capital'] = countries_and_capitals_df['capital'].replace('Ciudad de M', 'Mexico City')
countries_and_capitals_df['capital'] = countries_and_capitals_df['capital'].replace('Roma', 'Rome')
countries_and_capitals_df['capital'] = countries_and_capitals_df['capital'].replace('Bras', 'Brasilia')

In [20]:
def get_coordinates(league_all_seasons_nationalities):
    
    '''
    Takes as a parameter a dataframe of nationalities, and returns a dataframe with capital cities and their corresponding
    latitudes and longitudes by making API calls to Openweathermap
    
    '''
    
    #merging on 
    league_and_locations = pd.merge(league_all_seasons_nationalities, countries_and_capitals_df, on = 'nationality', how = 'inner')

    league_and_locations['lat'] = ''
    league_and_locations['lng'] = ''

    for index, row in league_and_locations.iterrows():
    
        city = row['capital']
    
        try: 
            url = f"http://api.openweathermap.org/data/2.5/weather?q={city}&appid={weather_key}"
            response = requests.get(url).json()
        
            #lat and longitude
            league_and_locations['lat'].iloc[index] = response['coord']['lat']
            league_and_locations['lng'].iloc[index] = response['coord']['lon']
        
        except:
            print(f"Name issue:{city} at index:{index}")
        

    return league_and_locations

In [21]:
#data2geojson_test(engleague_coordinates)

In [22]:
#coordinates for All teams: not just top4 or last 4 
#engleague_allTeams_coordinates = get_coordinates(engleague_all_teams_seasons_nationalities)
#spleague_allTeams_coordinates = get_coordinates(spleague_all_teams_seasons_nationalities)
#itleague_allTeams_coordinates = get_coordinates(itleague_all_teams_seasons_nationalities)

In [23]:
#API Call to weathermap 
engleague_coordinates = get_coordinates(top4engleague_all_seasons_nationalities)
engleague_coordinates['league'] = 'english'
engleague_coordinates.head()

  nationality  percentage   capital      lat      lng   league
0     England   36.340206    London  51.5085  -0.1257  english
1      France    8.247423     Paris  48.8534   2.3488  english
2       Spain    7.989691    Madrid  40.4165  -3.7026  english
3      Brazil    5.670103  Brasilia -15.7797 -47.9297  english
4     Belgium    5.154639   Brussel  50.8504   4.3488  english

In [24]:
#API Call to weather map
itleague_coordinates = get_coordinates(top4itleague_all_seasons_nationalities)
itleague_coordinates['league'] = 'italian'
itleague_coordinates.head()

  nationality  percentage       capital      lat      lng   league
0       Italy   37.425150          Rome   34.257 -85.1647  italian
1      Brazil    8.383234      Brasilia -15.7797 -47.9297  italian
2   Argentina    6.886228  Buenos Aires -34.6132 -58.3772  italian
3      France    4.191617         Paris  48.8534   2.3488  italian
4       Spain    3.892216        Madrid  40.4165  -3.7026  italian

In [25]:
#API call to weather map
spleague_coordinates = get_coordinates(top4spleague_all_seasons_nationalities)
spleague_coordinates['league'] = 'spanish'
spleague_coordinates.head()

  nationality  percentage       capital      lat      lng   league
0       Spain   51.319648        Madrid  40.4165  -3.7026  spanish
1      Brazil    8.504399      Brasilia -15.7797 -47.9297  spanish
2      France    7.331378         Paris  48.8534   2.3488  spanish
3   Argentina    4.985337  Buenos Aires -34.6132 -58.3772  spanish
4    Portugal    4.398827        Lisboa  38.7167  -9.1333  spanish

In [26]:
top4_teams_all_league_df = pd.concat([spleague_coordinates,itleague_coordinates, engleague_coordinates]) 
cleaned_top4teams = top4_teams_all_league_df.dropna().reset_index(drop = True)
cleaned_top4teams = cleaned_top4teams.fillna(0)
cleaned_top4teams['class'] = 'top4'

In [34]:
#cleaned_top4teams[cleaned_top4teams['league'] == 'english']

In [46]:
#cleaned_top4teams.to_csv('project2_outputs/top4_allLeagues.csv', index = False)

In [30]:
#cleaned_top4teams[cleaned_top4teams['capital'] == "Rome"]

   nationality  percentage capital     lat      lng   league class
9        Italy    1.466276    Rome  34.257 -85.1647  spanish  top4
37       Italy   37.425150    Rome  34.257 -85.1647  italian  top4
95       Italy    1.030928    Rome  34.257 -85.1647  english  top4

In [93]:
#cleaned_top4teams.to_json('project2_outputs/top4_allLeagues.json', orient = 'records')

In [118]:
#top4json = pd.read_json('project2_outputs/top4_allLeagues.json')
#print(json.dumps(top4json, indent = 4))
#top4json.head()
#import pprint

#json_data = None
#with open('project2_outputs/top4_allLeagues.json', 'r') as f:
    #data = f.read()
    #json_data = json.load(data)

#pprint.pprint(json_data[0:3])

[{'capital': 'Madrid',
  'lat': 40.4165,
  'league': 'spanish',
  'lng': -3.7026,
  'nationality': 'Spain',
  'percentage': 100.0},
 {'capital': 'Brasilia',
  'lat': -15.7797,
  'league': 'spanish',
  'lng': -47.9297,
  'nationality': 'Brazil',
  'percentage': 16.6},
 {'capital': 'Paris',
  'lat': 48.8534,
  'league': 'spanish',
  'lng': 2.3488,
  'nationality': 'France',
  'percentage': 14.3}]

#### Preparing data for Last4 teams

In [27]:
engLast4_coordinates = get_coordinates(last4engleague_all_seasons_nationalities)
engLast4_coordinates['league'] = 'english'
engLast4_coordinates

Name issue:Reykjav at index:30

          nationality  percentage    capital      lat      lng   league
0             England   40.794224     London  51.5085  -0.1257  english
1            Scotland    5.415162  Edinburgh  55.9521  -3.1965  english
2               Spain    5.054152     Madrid  40.4165  -3.7026  english
3         Netherlands    3.971119  Amsterdam   52.374   4.8897  english
4              France    3.971119      Paris  48.8534   2.3488  english
..                ...         ...        ...      ...      ...      ...
56             Canada    0.180505     Ottawa  45.4112 -75.6981  english
57       South Africa    0.180505   Pretoria -25.7449  28.1878  english
58            Burundi    0.180505  Bujumbura  -3.3822  29.3644  english
59               Togo    0.180505        Lom  43.8139  23.2361  english
60  Equatorial Guinea    0.180505     Malabo     3.75   8.7833  english

[61 rows x 6 columns]

In [28]:
itLast4_coordinates = get_coordinates(last4itleague_all_seasons_nationalities)
itLast4_coordinates['league'] = 'italian'
itLast4_coordinates.head()

Name issue:Ciudad de Panam at index:28

  nationality  percentage       capital      lat      lng   league
0       Italy   62.935323          Rome   34.257 -85.1647  italian
1   Argentina    4.477612  Buenos Aires -34.6132 -58.3772  italian
2     Senegal    2.487562         Dakar  14.6937 -17.4441  italian
3      Brazil    2.487562      Brasilia -15.7797 -47.9297  italian
4      France    1.990050         Paris  48.8534   2.3488  italian

In [29]:
spLast4_coordinates = get_coordinates(last4spleague_all_seasons_nationalities)
spLast4_coordinates['league'] = 'spanish'
spLast4_coordinates.head()

Name issue:Santo Domingo de Guzm at index:34

  nationality  percentage       capital      lat      lng   league
0       Spain   69.072165        Madrid  40.4165  -3.7026  spanish
1   Argentina    4.123711  Buenos Aires -34.6132 -58.3772  spanish
2    Colombia    2.474227        Bogota   4.6097 -74.0817  spanish
3      Brazil    1.855670      Brasilia -15.7797 -47.9297  spanish
4    Portugal    1.855670        Lisboa  38.7167  -9.1333  spanish

In [30]:
#concatinating all seasons
last4_teams_all_league_df = pd.concat([spLast4_coordinates,itLast4_coordinates, engLast4_coordinates]) 
cleaned_last4teams = last4_teams_all_league_df.dropna().reset_index(drop = True)
cleaned_last4teams = cleaned_last4teams.fillna(0)
cleaned_last4teams['class'] = 'last4'

In [31]:
cleaned_last4teams[cleaned_last4teams['capital'] == 'Rome']

   nationality  percentage capital     lat      lng   league  class
40       Italy    0.206186    Rome  34.257 -85.1647  spanish  last4
41       Italy   62.935323    Rome  34.257 -85.1647  italian  last4
90       Italy    1.805054    Rome  34.257 -85.1647  english  last4

In [97]:
#cleaned_last4teams.to_csv('project2_outputs/last4_allLeagues.csv', index = False)
#cleaned_last4teams.to_json('project2_outputs/last4_allLeagues.json', orient = 'records')

In [32]:
#CONCATINATING Cleaned FOR top and last 4 teams
topAndLast4 = pd.concat([cleaned_top4teams,cleaned_last4teams]).reset_index(drop = True)
topAndLast4 = topAndLast4[topAndLast4['nationality'] != "Panama"]
topAndLast4 = topAndLast4[topAndLast4['nationality'] != "Iceland"]
topAndLast4 = topAndLast4[topAndLast4['nationality'] != "Dominican Republic"]
topAndLast4['lat'] = topAndLast4['lat'].replace(34.257, 41.902782)
topAndLast4['lng'] = topAndLast4['lng'].replace(-85.1647, 12.496366)
topAndLast4['percentage'] = round(topAndLast4['percentage'],2)
#topAndLast4.to_csv('project2_outputs/topAndLast.csv', index = False)
#topAndLast4.to_json('project2_outputs/topAndLast.json', orient = 'records')

In [26]:
topAndLast4[topAndLast4['capital'] == 'Rome']

    nationality  percentage capital        lat        lng   league  class
9         Italy        1.47    Rome  41.902782  12.496366  spanish   top4
37        Italy       37.43    Rome  41.902782  12.496366  italian   top4
95        Italy        1.03    Rome  41.902782  12.496366  english   top4
168       Italy        0.21    Rome  41.902782  12.496366  spanish  last4
169       Italy       62.94    Rome  41.902782  12.496366  italian  last4
218       Italy        1.81    Rome  41.902782  12.496366  english  last4

In [27]:
def data2geojson_All(df):
    features = []
    insert_features = lambda X: features.append(
            geojson.Feature(geometry=geojson.Point((X["lng"],
                                                    X["lat"])),
                            properties=dict(nationality=X["nationality"],
                                            description=X["percentage"],
                                           capital = X["capital"],
                                           league = X["league"],
                                           classed = X["class"])))
    df.apply(insert_features, axis=1)
    with open('../../static/js/topAndLast4.geojson', 'w', encoding='utf8') as fp:
        geojson.dump(geojson.FeatureCollection(features), fp, sort_keys=True, ensure_ascii=False)

In [28]:
data2geojson_All(topAndLast4)

In [69]:
# LOAD GEOJSON HERE 
#geoJson = None
#with open('../../assets/js/topAndLast4.geojson') as f: 
#    geoJson = json.load(f)
#geoJson

In [29]:
geo_df = pd.read_json('../../static/js/topAndLast4.geojson')
geo_dict = geo_df.to_dict('records')
#geo_dict

In [33]:
dbname = "Soccer_db"
client = MongoClient(f"mongodb+srv://Ezequiel:{password}@cluster0.ddqv6.mongodb.net/{dbname}?retryWrites=true&w=majority")
soccer_db = client.get_database('Soccer_db')

In [32]:
soccer_db.geo_data.drop()
soccer_db.create_collection("geo_data")
geo_data = soccer_db.geo_data
geo_data.insert_many(geo_dict)
geo_data.count_documents({})

269

In [61]:
#!pip install dnspython
#!pip install pymongo

Requirement already satisfied: dnspython in c:\users\ezgal\anaconda3\envs\pythondata\lib\site-packages (2.1.0)

In [33]:
data = {'league': ['english', 'italian', 'spanish'],
        'top4_national_players':[36.01, 34.98, 47.6],
        'last4_national_players':[42.1,64.3, 70.2]
       }
summary_data = pd.DataFrame(data, columns = ['league', 'top4_national_players', 'last4_national_players'])
summary_data_dict = summary_data.to_dict('records')
summary_data_dict

[{'league': 'english',
  'top4_national_players': 36.01,
  'last4_national_players': 42.1},
 {'league': 'italian',
  'top4_national_players': 34.98,
  'last4_national_players': 64.3},
 {'league': 'spanish',
  'top4_national_players': 47.6,
  'last4_national_players': 70.2}]

In [34]:
soccer_db.summary_diversity_stats.drop()
soccer_db.create_collection("summary_diversity_stats")
summary_diversity_stats = soccer_db.summary_diversity_stats
summary_diversity_stats.insert_many(summary_data_dict)
summary_diversity_stats.count_documents({})

3

In [34]:
#test summary stats
collection = soccer_db.summary_diversity_stats.find({},{'_id': False})
data = []
for doc in collection:
    data.append(doc)
data

[{'league': 'english',
  'top4_national_players': 36.01,
  'last4_national_players': 42.1},
 {'league': 'italian',
  'top4_national_players': 34.98,
  'last4_national_players': 64.3},
 {'league': 'spanish',
  'top4_national_players': 47.6,
  'last4_national_players': 70.2}]

In [39]:
collection = soccer_db.geo_data.find({},{'_id': False})
data = []
for doc in collection:
    data.append(doc)
print(data[0])

{'features': {'geometry': {'coordinates': [-3.7026, 40.4165], 'type': 'Point'}, 'properties': {'capital': 'Madrid', 'classed': 'top4', 'description': 51.32, 'league': 'spanish', 'nationality': 'Spain'}, 'type': 'Feature'}, 'type': 'FeatureCollection'}

In [40]:
collection

In [35]:
def league_diversity_per_teams(league_nationalities, league_top4teams, local_country):
    
    '''
    This function takes as an input a list of dataframes with players nationalities and each league top 4 teams
    and returns a dictionaty where each key is a season (2015..2019) and each value pair is dictionaries with 
    the teams as keys and their diversity count as value pairs.
    
    '''
    
    #number of players
    #number_players = 33
    
    #diversity in each team english league 2015
    years = [2015, 2016, 2017, 2018, 2019]

    #empty dictionary of dictionaries: each year will be a key for a dictionary of the players diversity count
    all_seasons_diversity = {}

    season_count = 0
    for year in years:
    
        #empty dictionary for the team
        team_percentage_local_players_1_season = {} 
        for index, row in league_top4teams[season_count].reset_index().iterrows():
            
            #defininf team name from dataframe
            team = row['Teams']
            
            #diversity = count of different nationalities in each team
            team_player_count = len(league_nationalities[season_count][(league_nationalities[season_count]['club'] == team)])
            
            
            national_player_count = len(league_nationalities[season_count][
                (league_nationalities[season_count]['club'] == team) & (
                    league_nationalities[season_count]['nationality'] == local_country)])
            
            try:
                team_percentage_local_players_1_season[team] = round(national_player_count / team_player_count * 100, 1)
            
            except Exception as ex:
                #print(f"There was an issue with {team} in season {season_count}")
                #print(ex)
                continue
                
        #creating dictionary per season: key is the season ; value_pair: nested dictionary of teams and their diversity
        all_seasons_diversity[year] = team_percentage_local_players_1_season
    
        #next season
        season_count += 1

    return all_seasons_diversity

In [36]:
def average_diversity(league_nationalities, teams, country):
    
    '''
    This function calculates the average diversity across all seasons [2015:2019]
    
    '''
    
    values = []
    for season in league_diversity_per_teams(league_nationalities, teams, country).keys():
        teams_dict = league_diversity_per_teams(league_nationalities, teams, country)[season]
        for team, percent in teams_dict.items():
            values.append(percent)
    return statistics.mean(values)

In [37]:
#eng top
print(average_diversity(engleague_nationalities_top_teams, eng_top4teams, 'England'))
#eng last
print(average_diversity(engleague_nationalities_last_teams, eng_last4teams, 'England'))
#IT top
print(average_diversity(itleague_nationalities_top_teams, it_top4teams, 'Italy'))
#IT last
print(average_diversity(itleague_nationalities_last_teams, it_last4teams, 'Italy'))
#spain top
print(average_diversity(spleague_nationalities_top_teams, sp_top4teams, 'Spain'))
#spain last
print(average_diversity(spleague_nationalities_last_teams, sp_last4teams, 'Spain'))

36.005
42.095
34.975
63.39411764705883
47.615
70.16

In [84]:
#summary_data_dict